---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import CardCategory from '../components/products/cardCategory';
import ProductFeature from '../components/products/productFeature';
import Navbar from '../components/navbar';
import Footer from '../components/footer';
import PromoSectionLarge from '../components/promo/promoSectionLarge';
---

<Layout title="Dunya Stationery">
	<main>
    <Navbar />
    <PromoSectionLarge
      title={"Craft Your Workspace, Print Your Vision"}
      full_description={data.products[0].full_description}
      pageHeaderBgImg={"../images/pens.jpg"}
      pageHeaderMinVh="90vh"
    />
    <div class="container my-5">
      <div class="d-block text-center mb-5">
        <h3>A Wide Range of Products</h3>
      </div>
      <div class="row mb-5">
        {data.categories.slice(0, 4).map(category =>
          <div class="col-md-6 col-lg-3">
            <CardCategory
              thumb_src = {category.thumb_src}
              collection = {category.collection}
              title = {category.title}
            />
          </div>
        )}
      </div>

    <div class="my-5">
      <ProductFeature
        title=""
        images={data.products[1].images}
        full_description=""
        featuresDetails={data.products[0].featuresDetails}
      />
    </div>

    <PromoSectionLarge
      title="Equip Your Workspace"
      full_description={data.products[0].full_description2}
      pageHeaderBgImg={"../images/pexels-cottonbro.jpg"}
      pageHeaderMinVh="50vh"
      pageHeaderRadius="1rem"
    />

    <Footer />

    </div>
  </main>

</Layout>
